
html {
  /* gradient background */
  background: radial-gradient(circle at top left, #dcb7b0, #22c1c3);
}

h1,h2 {
  font-style: normal;
  font-weight: bolder;
  font-family: serif;
  color: 
  font-size: 30pt
}




/*Grid*/

.grid {
  display:grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 100px;
  grid-auto-rows: 100px;
  grid-column-gap: 400px;
}




/*Items*/
