/* General style */

html {
  /* background */
  background: white;
}

p {
  margin:5px
}

/* Typography scheme */

body {
    font-family: serif;
    font-size: 19px;
    background:black;
    color:white
}

h1, h2 {
    font-family:serif;
}

/* Grid styling  */

.container {
    display:grid;
    grid-template-columns: 100% auto;
    padding: 30em 2em;
}

ul {
    margin:0;padding:0;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto
}
ul li {
    padding: 1em;
    color:black;
}

.container {
    display:grid;
    grid-template-columns: 45% auto;
    padding: 1em 30em;
}

ul {
    display:grid;
    list-style-type:none;
    margin:0;padding:0;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
}

/* Footer style */

footer {
    background: radial-gradient(circle at top left, #00aced, blue);
}
