body {
background-color: #000e17;
font-family: serif;
font-size: 30pt;
}



h1,h2 {
  font-style: normal;
  font-weight: bolder;
  font-family: serif;
  color: white;
  font-size: 30pt
}


/*Grid*/

.grid-container{
       width: 100%;
       max-width: 1200px;
   }



/*Items*/
